/*  *****
**  Style sheet created for Module 2 which can be found here:  https://github.com/jhu-ep-coursera/fullstack-course4/blob/master/assignments/assignment2/Assignment-2.md
**
**  Author:  Dan Shaw
*/

/**  ***** RWD Section *****/
.row {
    width: 100%;
}
    /***** Small Devices Only (Phone) *****/
    @media (max-width: 767px) {
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
            float: left;
            border: 1px;
        }
        .col-sm-1 {
            width: 8.33%;
        }
        .col-sm-2 {
        width: 16.66%;
        }
        .col-sm-3 {
        width: 25%;
        }
        .col-sm-4 {
        width: 33.33%;
        }
        .col-sm-5 {
        width: 41.66%;
        }
        .col-sm-6 {
        width: 50%;
        }
        .col-sm-7 {
        width: 58.33%;
        }
        .col-sm-8 {
        width: 66.66%;
        }
        .col-sm-9 {
        width: 75%;
        }
        .col-sm-10 {
        width: 83.33%;
        }
        .col-sm-11 {
        width: 91.66%;
        }
        .col-sm-12 {
        width: 100%;
        }
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
      }
    
    /***** Medium Devices Only (Tablet) *****/
    @media (min-width: 768px) and (max-width: 991px) {
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: left;
            border: 1px;
        }
        .col-md-1 {
            width: 8.33%;
        }
        .col-md-2 {
        width: 16.66%;
        }
        .col-md-3 {
        width: 25%;
        }
        .col-md-4 {
        width: 33.33%;
        }
        .col-md-5 {
        width: 41.66%;
        }
        .col-md-6 {
        width: 50%;
        }
        .col-md-7 {
        width: 58.33%;
        }
        .col-md-8 {
        width: 66.66%;
        }
        .col-md-9 {
        width: 75%;
        }
        .col-md-10 {
        width: 83.33%;
        }
        .col-md-11 {
        width: 91.66%;
        }
        .col-md-12 {
        width: 100%;
        }
    }
    
/***** Large Devices Only (Desktop)  *****/
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
        border: 1px;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
    width: 16.66%;
    }
    .col-lg-3 {
    width: 25%;
    }
    .col-lg-4 {
    width: 33.33%;
    }
    .col-lg-5 {
    width: 41.66%;
    }
    .col-lg-6 {
    width: 50%;
    }
    .col-lg-7 {
    width: 58.33%;
    }
    .col-lg-8 {
    width: 66.66%;
    }
    .col-lg-9 {
    width: 75%;
    }
    .col-lg-10 {
    width: 83.33%;
    }
    .col-lg-11 {
    width: 91.66%;
    }
    .col-lg-12 {
    width: 100%;
    }
}

/**  *****  Body CSS  *****/
body {
    font-family: 'Roboto';
    font-size: 100%;
    background-color: rosybrown;
}

/**  *****  Header CSS  *****
***  Currently not used  ****
**/

/**  *****  Nav CSS  *****
***  Currently not used  ****
**/

/**  *****  Section CSS  *****/
.section {
    background-color: aliceblue;
}
.container {
    border: 1px solid black;
    position: relative;
    margin: 10px;
    height: auto;
}
.heading {
    font-size: 1.75em;
    text-align: center;
    font-weight: bold;
    padding: 30px 0px 30px 0px;
}
.menu-item-type {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    float: right;
    width: 200px;
    margin: 0px 0px;
    padding: 2px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
}
.menu-item-description {
    clear: right;
    padding: 10px 10px;
}
#chicken {
    background: burlywood;
}
#beef {
    background: maroon;
    color: lightgray;   
}
#sushi {
    background: teal;
}

